<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>mac_icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>KISS</string>
	<key>CFBundleIdentifier</key>
	<string>com.kipr.KISS</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
