.right {
  float: right;
  display: block;
}
.left {
  float: left;
  display: block;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: #EEE;
  width: 800px;
  margin: 30px auto 30px auto;
}
.center {
  text-align: center;
}
.main {
  background-color: #FFF;
  border-color: #999;
  border: 1px solid;
  padding: 16px;
  overflow: auto;
}
.fill {
  width: 100%;
}
.side {
  width: 40%;
}
.sside {
  width: 30%;
}
.pad {
  padding: 10px;
}
pre {
  background-color: #DDD;
}